<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
     <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="logo"<%=link_to image_tag("bike_logo4.png", class: "img"), root_path %><img /></a>
      </div>
      
      <div class="navbar-collapse collapse" id="navbar-collapsible">
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to 'Home', static_pages_index_path %></li>
          <li><%= link_to 'About', static_pages_about_path %></li>
          <li><%= link_to 'Contact', static_pages_contact_path %></li>
          <li><%= link_to 'Products', products_path %></li>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Store<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><%= link_to 'Orders', orders_path %></li>
                <li>
                  <% if user_signed_in? %>
                    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                  <% else %>
                    <%= link_to('Login', new_user_session_path) %>
                  <% end %>
                </li>
                <li>
                    <% if current_user && current_user.admin? %>
                    <%= link_to('Add Product', new_product_path) %>
                    <% end %>
                  </li>
                <li class="divider"></li>
            </ul>
          </li>
         </ul>
          
        <%= form_tag("/products", method:"GET", class: "navbar-form") do %>
        <div class="input-group navbar-right">
          <%= label_tag(:q, "Search for:", class: "hidden") %>
          <%= text_field_tag(:q, "", placeholder: "Search", class: "form-control ") %>
            <span class="input-group-btn">
                <%= button_tag name: nil, class: "btn btn-default", type: "submit" do %>
                <span class="glyphicon glyphicon-search"></span>
                <% end %>
            </span>
        </div>
        <% end %>
      </div>
   </div>
  </nav>

  <!--#params[:product_id]-->

