<% cache @product do %>
<div class="container">
<div class="row tex-center">
<div class="col-md-6 top review1">
<p id="notice"><%= notice %></p>

<%= image_tag(@product.image_url, class: "img-responsive show-img prod-img img-zoom", data_zoom_image: @product.image_url) %>


<p>
  <h3><%= @product.name %></h3>
</p>

<p>
  <%= @product.description %>
</p>

<p>
  <strong>Color:</strong>
  <%= @product.color %>
</p>

<p>
  <strong>Price: $</strong>
  <%= @product.price %>
</p>

<p>Average Rating: 
  <div class="rated" id= "average-rating" data-score="<%= @product.average_rating %>"></div>
</p>

<p>
  <div class="stripe">
  <%= form_tag 'payments/create' do %>
     <%= render partial: "shared/stripe_checkout_button" %>
  <% end %>  
  </div>
</p>

</div>
<div class="col-md-4 col-md-offset-1 top review">
<%= render 'new_comment' %>

<%= render 'comments' %>
<% if current_user && current_user.admin? %>
<%= link_to 'Edit Comments', edit_product_comment_path(@product. comments) %>
<% end %>
</div>


<% link_to 'Edit', edit_product_path(@product) %> 
<% link_to 'Back', products_path %>

</div>
</div>
<% end %>