<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    
    <%= render 'favicon' %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Varela+Round', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
     <% if alert %>
      <div class="alert alert-danger alert-dismissible fade in" role="alert"> <%= alert %> </div>
      <% end %>
      <% if notice %>
      <div class="alert alert-info alert-dismissible fade in" id="notice" role="alert"> <%= notice %> </div>
     <% end %>

    <%= render 'shared/navbar' %>

    <div class="wrapper">
      <%= yield %>
    </div>

   <%= render 'shared/footer' %>
  </body>
</html>
